/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/screen.scss */
body {
  background: #FFEB3B;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* line 8, ../sass/screen.scss */
.p_signup_Title {
  font-weight: 400;
}

/* line 12, ../sass/screen.scss */
.p_mainTitle {
  color: white;
  font-weight: 700;
  font-size: 100px;
  text-align: right;
}

/* line 18, ../sass/screen.scss */
.p_result_title {
  color: white;
  font-weight: 700;
  font-size: 100px;
  text-align: center;
}

/* line 26, ../sass/screen.scss */
.p_mainTitle2 {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

/* line 32, ../sass/screen.scss */
.p_row_mainTaxis {
  padding-top: 150px;
}

/* line 36, ../sass/screen.scss */
.p_configurator {
  box-shadow: 0px 3px 1px #B6B6B6;
  position: relative;
  top: 200px;
  background: white;
}

/* line 43, ../sass/screen.scss */
.p_result {
  box-shadow: 0px 3px 1px #B6B6B6;
  position: relative;
  top: 300px;
}

/* line 49, ../sass/screen.scss */
.hiddenResponsive {
  display: none;
}

/* line 54, ../sass/screen.scss */
.p_signupContent paper-input {
  margin-top: 5px;
}

/* line 59, ../sass/screen.scss */
.p_inputBox {
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 65, ../sass/screen.scss */
.p_signup_explainHelper {
  margin-top: 10px;
  font-weight: 200;
}

/* line 70, ../sass/screen.scss */
.p_signup_configTaxi {
  margin-top: 90px;
}

/* line 74, ../sass/screen.scss */
.p_resultDiv {
  position: relative;
  top: 400px;
}

/* line 79, ../sass/screen.scss */
.p_result_leftArrow {
  position: absolute;
  left: 35%;
  top: -20%;
  z-index: 2;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 3;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  transition-delay: 2s;
}

/* line 92, ../sass/screen.scss */
.p_result_rightArrow {
  position: absolute;
  left: 65%;
  top: 15%;
  z-index: 2;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 3;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  transition-delay: 2s;
}

/* line 106, ../sass/screen.scss */
.robotoLight {
  font-size: 15px;
  font-weight: 200;
}

/* line 110, ../sass/screen.scss */
.p_rightBlock {
  padding-top: 70px;
  padding-left: -10px;
}

/* line 115, ../sass/screen.scss */
.p_engineImg {
  width: 200px;
}

/* line 118, ../sass/screen.scss */
.p_leftEngine {
  padding-top: 20px;
}

/* line 122, ../sass/screen.scss */
.p_topFix {
  margin-top: 240px;
}

/* line 126, ../sass/screen.scss */
.p_leftBlock {
  margin-top: -60px;
}

/* line 130, ../sass/screen.scss */
.p_boostButton {
  color: black;
  width: 400px;
  font-weight: 600;
  margin-bottom: 90px;
  margin-top: 20px;
  font-weight: 200;
}

/* line 139, ../sass/screen.scss */
.p_secondEngine {
  display: inline-block;
}

@media screen and (max-width: 950px) {
  /* line 145, ../sass/screen.scss */
  .hiddenResponsive {
    height: 10000px;
    display: block !important;
  }
}
